.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.todo-form__input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #adacac;
  border-radius: 6px;
  background: #646464;
  color: #fff;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
}
.todo-form__input:hover {
  background: #333;
}
.todo-form__input:focus {
  outline: none;
  background: #333;
  border-color: #828383;
  box-shadow: 0 0 0 3px rgba(130, 131, 131, 0.2);
}
.todo-form__input::-moz-placeholder {
  color: #9d9c9c;
}
.todo-form__input::placeholder {
  color: #9d9c9c;
}

.todo-form__button {
  background: #646464;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background 0.15s ease-in-out;
}
.todo-form__button:hover {
  background: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}