
$color-bg: #484848;
$color-text: #fff;
$color-muted: #9d9c9c;
$color-border: #adacac;
$color-accent: #828383;
$color-primary: #646464;
$color-primary-hover: #333;
$color-danger: #f43925;
$color-danger-dark: #71160c;


$radius: 6px;
$transition: 0.2s ease-in-out;
