@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.filters {
  @include flex(center, flex-end, 0.5rem);
  margin-bottom: 1rem;
}

.filters__button {
  @include button($color-primary, $color-text);
}

.filters__button_active {
  background: $color-accent;
  color: #fff;
  border-color: $color-primary;
  border: 1px solid $color-border;
}
